{
  "openapi": "3.1.0",
  "info": {
    "title": "Nugen Intelligence API",
    "description": "Nugen Intelligence: Powering Specialized Intelligence At Scale.\n\n**Need an API key?** Sign up, log in to the platform and generate an API key.\n\n**Need help?** Sign up, log in to the platform and raise a support ticket.\n\n**What this API does.** Align models to your domain corpus and run them with\nconfidence. Train-time alignment builds domain-aligned adaptors through\nproprietary methods spanning pre-training, supervised and reinforcement\nstages. Inference-time alignment quantifies uncertainty across the full\ngeneration trajectory, producing confidence scores and keeping every\nresponse on domain.\n\n**Workflow.** Upload documents, create or generate a benchmark, create an\nalignment project, receive an aligned model id. That one id serves chat\ncompletions, completions, embeddings and reranking, and its embeddings carry\nyour domain's representation space, making retrieval domain aware. You define the success\ncriteria for your domain; the platform handles the deep learning, the GPUs\nand the data preparation.\n\n**Authentication.** Every endpoint requires an API key sent as a Bearer token:\n`Authorization: Bearer <api_key>`.\n\n",
    "contact": {
      "name": "Nugen Intelligence - Customer Support",
      "url": "https://nugen.in/signup",
      "email": "support@nugen.in"
    },
    "version": "25.4.20"
  },
  "servers": [
    {
      "url": "https://api.nugen.in",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v3/alignment-projects/create": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Create Alignment",
        "description": "Create a new domain alignment workflow.\n\n\nThis endpoint initiates a domain alignment workflow that aligns a base model to your domain corpus using provided documents.\n\n\n**Request Body:**\n\n- `alignment_name`: Name of the domain alignment project\n- `base_model_id`: Base model to use for alignment (e.g., `qwen-v2p5-0p5b-instruct`)\n- `document_ids`: List of document IDs to use for training data. Documents are snapshotted when the project is created; later edits to documents never change an existing alignment\n- `workflow_id` (optional): Custom workflow identifier\n- `benchmark_id` (optional): Benchmark ID for post-alignment evaluation\n- `description` (optional): Description of the alignment project\n\n\n**Importing models:**\n\nAny Hugging Face model can be imported by passing `\"base_model_id\": \"hf://<model-name>\"`. This is an enterprise edition feature; request access or enquire through a support ticket. For security reasons, models that require custom code execution are unsupported by default; raise a support ticket to discuss your case.\n\n\n**Returns:**\n\n- `alignment_id`: Unique alignment identifier for tracking workflow progress\n- `status`: Initial workflow status (always `PROCESSING`)\n\n\n**Raises:**\n\n- `400`: If the base model does not support alignment\n- `404`: If document IDs are not found or don't belong to user\n\n\n**Example Request:**\n\n```json\nPOST /api/v3/alignment-projects/create\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n\n{\n  \"alignment_name\": \"Contract Risk Domain Alignment\",\n  \"base_model_id\": \"qwen-v2p5-0p5b-instruct\",\n  \"document_ids\": [\"document_01k4x9m2p7q3r5se\", \"document_01k4x9m2p7q3r5sf\", \"document_01k4x9m2p7q3r5sg\"],\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"description\": \"Alignment for master services agreements and addenda\"\n}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"alignment_id\":\"alignment_01k4x9m2p7q3r8c1\",\n  \"status\": \"PROCESSING\"\n}\n```\n\n\n**Notes:**\n\n- Use `/alignment-projects/{id}/status` to track workflow progress\n- If `benchmark_id` is provided, the model will be evaluated automatically after alignment\n- Only models that support alignment can be used.",
        "operationId": "alignment_projects_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlignmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a unique identifier for the initiated domain alignment workflow along with the initial workflow status. This endpoint starts an asynchronous alignment run over a base model to your domain corpus using provided documents and optional benchmark evaluation, allowing users to track progress and retrieve results once completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAlignmentProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-order": 1
      }
    },
    "/api/v3/alignment-projects/list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "List Alignment Projects",
        "description": "List the caller's alignment projects as summary rows.\n\nA list view renders an identifier, a name, a state and a timestamp, so that\nis what this returns. The full record, documents, metrics and evaluation\ndetails live on `GET /alignment-projects/{id}`.\n\n**Query Parameters:**\n\n- `status` (optional): Filter by alignment project status\n- `limit` (optional): Number of alignment projects to return (1-100, default: 10)\n- `offset` (optional): Number of alignment projects to skip for pagination (default: 0)",
        "operationId": "alignment_projects_list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by alignment project status",
              "title": "Status"
            },
            "description": "Filter by alignment project status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of alignment projects to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of alignment projects to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of alignment projects to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of alignment projects to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a summary row per alignment project: identifier, name, base model, status and timestamps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlignmentProjectListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 2
      }
    },
    "/api/v3/alignment-projects/{alignment_id}": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get Alignment Project",
        "description": "Retrieve detailed information about a specific alignment project.\n\n\nThis endpoint fetches comprehensive details about an alignment project including metadata, associated documents, training progress, status, performance metrics, and evaluation information.\n\n\n**Path Parameters:**\n\n- `alignment_id`: Unique identifier of the alignment project\n\n\n**Returns:**\n\n- `alignment_id`: Alignment project identifier\n- `alignment_name`: Project name\n- `base_model_id`: Base model identifier used for alignment\n- `status`: Project status (`PENDING`, `COMPLETED`, `FAILED`)\n- `queue_position`, `stop_requested_at`, `early_deployable`: run qualifiers, same as the status endpoint\n- `created_at`: ISO timestamp when project was created\n- `completed_at` (optional): ISO timestamp when project completed\n- `updated_at`: Last update timestamp\n- `eta_seconds` (optional): not wired up yet, always null\n- `document_ids`: List of document IDs used for training\n- `document_count`: Number of documents used\n- `creator`: Username or ID of the project creator\n- `performance_metrics` (optional): Training performance metrics (loss, accuracy, etc.)\n- `progress` (optional): Training progress percentage (0-100)\n- `estimated_completion` (optional): Estimated completion time\n- `error` (optional): Error message if project failed\n- `degraded` (optional): True when the run reached READY but a stage failed on the way\n- `stage_failures` (optional): Stage failures on the way, if any\n- `evaluation_id` (optional): Auto-evaluation ID if triggered\n- `model_id` (optional): Deployed model ID for evaluation\n\n\n**Raises:**\n\n- `404`: If alignment project not found or doesn't belong to user\n\n\n**Example Request:**\n\n```json\nGET /api/v3/alignment/alignment_01k4x9m2p7q3r8c1\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response (Completed):**\n\n```json\n{\n  \"alignment_id\":\"alignment_01k4x9m2p7q3r8c1\",\n  \"alignment_name\": \"Contract Risk Domain Alignment\",\n  \"base_model_id\": \"qwen-v2p5-0p5b-instruct\",\n  \"status\": \"READY\",\n  \"created_at\": \"2024-01-15T10:30:00Z\",\n  \"completed_at\": \"2024-01-15T14:45:00Z\",\n  \"document_ids\": [\"document_01k4x9m2p7q3r5s8\", \"document_01k4x9m2p7q3r5sc\", \"document_01k4x9m2p7q3r5sd\"],\n  \"document_count\": 3,\n  \"creator\": \"user-123\",\n  \"performance_metrics\": {\n    \"final_loss\": 0.15,\n    \"accuracy\": 0.92,\n    \"perplexity\": 2.3\n  },\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"model_id\": \"alignment_01k4x9m2p7q3r8c1-deployed\"\n}\n```\n\n\n**Example Response (In Progress):**\n\n```json\n{\n  \"alignment_id\":\"alignment_01k4x9m2p7q3r8c2\",\n  \"alignment_name\": \"Technical Documentation Alignment\",\n  \"base_model_id\": \"qwen-v2p5-0p5b-instruct\",\n  \"status\": \"PROCESSING\",\n  \"created_at\": \"2024-01-16T09:00:00Z\",\n  \"document_ids\": [\"document_01k4x9m2p7q3r5sh\", \"document_01k4x9m2p7q3r5sj\"],\n  \"document_count\": 2,\n  \"creator\": \"user-123\",\n  \"progress\": 45,\n  \"estimated_completion\": \"2024-01-16T11:30:00Z\"\n}\n```\n\n\n**Notes:**\n\n- Returns full project details including training progress and performance\n- `model_id` is only available for projects that have been deployed for evaluation\n- `evaluation_id` is only present if auto-evaluation was triggered\n- `performance_metrics` are populated after training completes\n- `progress` and `estimated_completion` are available during training\n- `error` field contains failure details if status is `FAILED`",
        "operationId": "alignment_projects_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "alignment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alignment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns detailed information about a specific alignment project, including metadata, associated documents, training progress, status, performance metrics, and evaluation information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlignmentProjectsDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 3
      },
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Delete Alignment",
        "description": "Delete an alignment project permanently.\n\n\nThis endpoint permanently removes an alignment project and its associated data from the system. The aligned model must be undeployed before deletion is allowed.\n\n\n**Path Parameters:**\n\n- `alignment_id`: Unique identifier of the alignment project to delete\n\n\n**Returns:**\n\nSuccess response containing:\n\n- `alignment_id`: ID of the deleted alignment project\n- `message`: Confirmation message\n\n\n**Raises:**\n\n- `400`: If the aligned model is still deployed (must undeploy first)\n- `404`: If alignment project not found or doesn't belong to user\n\n\n**Example Request:**\n\n```json\nDELETE /api/v3/alignment/alignment_01k4x9m2p7q3r8c1\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"alignment_id\": \"alignment_01k4x9m2p7q3r8c1\",\n  \"message\": \"Alignment project successfully deleted\"\n}\n```\n\n\n**Warning:**\n\nThis action is permanent and cannot be undone. All alignment data, training artifacts, and project metadata will be permanently deleted.\n\n\n**Important:**\n\nBefore deleting an alignment project, ensure the associated aligned model is undeployed. Use the undeploy endpoint first if the model is currently deployed.",
        "operationId": "alignment_projects_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "alignment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alignment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns confirmation of successful deletion of the alignment project with the specified ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAlignmentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 7
      }
    },
    "/api/v3/alignment-projects/{alignment_id}/status": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get Alignment Status",
        "description": "The polled status of one alignment project.\n\nReturns the state and its qualifiers only. Configuration, documents,\nmetrics, and failure qualifiers (degraded, stage_failures, error) never\nchange while a run executes or live on the detail route instead, so they\nare not re-sent on every poll.",
        "operationId": "alignment_projects_status",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "alignment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alignment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current status of an alignment project: state, timestamps, queue position and stop qualifier. Poll this; fetch the full record, including failure qualifiers, once from GET /alignment-projects/{alignment_id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlignmentStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 4
      }
    },
    "/api/v3/alignment-projects/{alignment_id}/stop": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Stop Alignment",
        "description": "Stop an in-progress alignment training run.\n\n**Path Parameters:**\n- `alignment_id`: Alignment project identifier\n\n**Returns:**\n- `alignment_id`: ID of the stopped alignment project\n- `status`: New status\n\n**Raises:**\n- `400`: If the alignment is already in a terminal state or has not started training yet\n- `404`: If the alignment project is not found or does not belong to the user\n- `502`: If the training cluster rejected the stop request\n- `503`: If the training cluster is unreachable",
        "operationId": "alignment_projects_stop",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "alignment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alignment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stops an in-progress alignment training run and marks the alignment project as STOPPED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopAlignmentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 5
      }
    },
    "/api/v3/models/base": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List Base Models",
        "description": "Retrieve the list of available base models.\n\n\nThis endpoint returns all general-purpose base models available for use in chat completions, embeddings, and domain alignment workflows.\n\n\n**Query Parameters:**\n\n- `status` (optional): Filter by `access_request_status`, the only status-like field this resource has\n- `limit` (optional): Number of models to return (1-100, default: 10)\n- `offset` (optional): Number of models to skip for pagination (default: 0)\n\n\n**Returns:**\n\n- `models`: List of base model objects, each containing:\n  - `model_id`: Unique model identifier\n  - `model_name`: Human-readable model name\n  - `parameters`: Model parameter count\n  - `alignment_ready`: Whether model can be used as a base for domain alignment\n  - `available_on_request`: Whether this model requires an access request before use\n  - `access_request_status`: The org's access request status for this model, if any\n  - `type`: Modality: `llm`, `vlm`, `embedding` or `reranking`\n\n\n**Example Request:**\n\n```json\nGET /api/v3/models/base\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"models\": [\n    {\n      \"model_id\": \"qwen-v2p5-0p5b-instruct\",\n      \"model_name\": \"Qwen-v2p5-0p5b-instruct\",\n      \"parameters\": \"0.5B\",\n      \"alignment_ready\": true,\n      \"available_on_request\": false,\n      \"access_request_status\": null,\n      \"type\": \"llm\"\n    },\n    {\n      \"model_id\": \"llama-v3p3-70b-instruct\",\n      \"model_name\": \"test-model\",\n      \"parameters\": \"200B\",\n      \"alignment_ready\": false,\n      \"available_on_request\": true,\n      \"access_request_status\": \"PENDING\",\n      \"type\": \"llm\"\n    }\n  ]\n}\n```\n**Notes:**\n\n- Base models are general-purpose starting points for domain alignment\n- These models can be used directly or as base models for domain alignment\n- Use `/models/aligned` to see your custom domain-aligned models\n- `alignment_ready` indicates if the model can be used as a base for domain alignment",
        "operationId": "list_base_models",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by access_request_status",
              "title": "Status"
            },
            "description": "Filter by access_request_status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of models to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of models to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of models to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of models to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all available base models that can be used for domain alignment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableModels"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Bad request"
                }
              }
            }
          },
          "404": {
            "description": "No base models found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "No base models found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "header",
                        "Authorization"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-order": 8
      }
    },
    "/api/v3/models/aligned": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List Aligned Models",
        "description": "Retrieve all domain-aligned models for the authenticated user.\n\nThis endpoint returns a lean list row per aligned model. Fetch `GET /models/{model_id}` for the full record: performance metrics, evaluation data, usage, downloadability and conversation settings.\n\n**Query Parameters:**\n\n- `status` (optional): Filter by `deployment_status`, the only status-like field this list carries\n- `limit` (optional): Number of models to return (1-100, default: 10)\n- `offset` (optional): Number of models to skip for pagination (default: 0)\n\n**Returns:**\n- `domain_aligned_models`: List of aligned model objects, each containing:\n  - `model_id`: Unique model identifier (or `alignment-{id}` for un-deployed models)\n  - `model_name`: Model name\n  - `base_model_id`: Base model used for alignment\n  - `base_model_name`: Display name of the base model\n  - `deployment_status`: Current deployment state (`READY`, `DEPLOYING`, `DEPLOYED`, `UNDEPLOYING`, `FAILED`). `READY` means the model exists and is not serving; deploy to use.\n  - `created_at`: Creation timestamp\n  - `alignment_id`: ID of the alignment project that produced this model\n\n\n**Example Request:**\n\n```json\nGET /api/v3/models/aligned\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"domain_aligned_models\": [\n    {\n      \"model_id\": \"model_01kmqm4nrn9fw6r\",\n      \"model_name\": \"customer_support_model\",\n      \"base_model_id\": \"qwen-v2p5-0p5b-instruct\",\n      \"base_model_name\": \"Qwen-v2p5-0p5b-instruct\",\n      \"deployment_status\": \"DEPLOYED\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"alignment_id\": \"__EXAMPLE_ALIGNMENT_ID__\"\n    }\n  ]\n}\n```\n\n\n**Notes:**\n\n- Returns both deployed and undeployed aligned models\n- Use `/models/base` to see available base models for alignment",
        "operationId": "list_aligned_models",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by deployment_status",
              "title": "Status"
            },
            "description": "Filter by deployment_status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of models to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of models to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of models to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of models to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all domain-aligned models created by the authenticated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyModels"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Bad request"
                }
              }
            }
          },
          "404": {
            "description": "No aligned models found for the authenticated user",
            "content": {
              "application/json": {
                "example": {
                  "detail": "No aligned models found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "header",
                        "Authorization"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-order": 9
      }
    },
    "/api/v3/models/{model_id}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get Model",
        "description": "Get one aligned model by ID.\n\n**Returns:**\n\n- `model_id`, `model_name`, `base_model_id`, `base_model_name`, `alignment_id`\n- `deployment_status` (`READY`, `DEPLOYING`, `DEPLOYED`, `UNDEPLOYING`, `FAILED`), derived from the live deployment\n- `error`: why the last deploy or undeploy failed, null when it succeeded\n- `progress`, `eta_seconds`: not wired up yet, always null\n- `performance_metrics`, `evaluation_data`: from the model's latest evaluation, if any\n- `usage_count`, `downloadable`: not wired up yet, always 0 and false\n- `inference_capture_enabled`\n- `created_at`, `updated_at`",
        "operationId": "get_model",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns one aligned model: its model_id, model_name, base model, derived deployment status and timestamps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlignedModelsDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 10
      }
    },
    "/api/v3/models/{model_id}/deployment": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Deploy Aligned Model",
        "description": "Deploy an aligned model for inference use.\n\n\nThis endpoint deploys a domain-aligned model, making it available for inference.\n\n\n**Path Parameters:**\n\n- `model_id`: Unique identifier of the aligned model to deploy\n\n\n**Returns:**\n\n- `model_id`: The aligned model being deployed\n\n\n**Raises:**\n\n- `400`: If the model is already deployed\n- `404`: If the model or its alignment project is not found\n- `409`: If the model is still training; pass `early=true` to deploy its newest checkpoint\n\n\n**Example Request:**\n\n```json\nPOST /api/v3/models/{model_id}/deployment\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\"model_id\": \"model_01kmqm4nrn9fw6r\"}\n```\n\n\n**Notes:**\n\n- Deployment is asynchronous and may take 5-15 minutes to complete\n- Poll `GET /api/v3/models/{model_id}/deployment/status`; on `FAILED` the failure reason is in `result.error`\n- Once deployed, the model will be available at its inference endpoint\n- Model must be in `UNDEPLOYED` state before deployment",
        "operationId": "models_deploy",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          },
          {
            "name": "early",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Deploy the newest checkpoint of a run that is still training. The GPU serves the latest checkpoint it has written and refreshes on its own, so answers change as training continues. Evaluation is unaffected and still runs on the finished model.",
              "default": false,
              "title": "Early"
            },
            "description": "Deploy the newest checkpoint of a run that is still training. The GPU serves the latest checkpoint it has written and refreshes on its own, so answers change as training continues. Evaluation is unaffected and still runs on the finished model."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated model deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployAlignedModelResponse"
                },
                "example": {
                  "model_id": "alignment_01k4x9m2p7q3r8c1"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - model already deployed or deployment limit reached",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "model_id": "model_01kmqm4nrn9fw6r",
                    "message": "Model is already deployed. Please undeploy first."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model or alignment project not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "model_id": "model_01kmqm4nrn9fw6r",
                    "message": "Model not found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 11
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Undeploy Model",
        "description": "Undeploy a deployed aligned model.\n\n\nThis endpoint undeploys a deployed model, removing it from the inference service.\n\n\n**Path Parameters:**\n\n- `model_id`: Unique identifier of the model to undeploy\n\n\n**Returns:**\n\n- `model_id`: Identifier of the model being undeployed\n- `message`: Confirmation message\n\n\n**Raises:**\n\n- `400`: If model is already undeployed\n- `404`: If the model or its alignment project is not found\n\n\n**Example Request:**\n\n```json\nDELETE /api/v3/models/alignment_01k4x9m2p7q3r8c1/deployment\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\"model_id\": \"alignment_01k4x9m2p7q3r8c1\", \"message\": \"Undeployment started for alignment_01k4x9m2p7q3r8c1.\"}\n```\n\n\n**Notes:**\n\n- Poll `GET /api/v3/models/{model_id}/deployment/status` to track undeployment\n- Once UNDEPLOYED, the model will no longer be available for inference\n- The model can be redeployed later using the deploy endpoint",
        "operationId": "models_undeploy",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated model undeployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UndeployModelResponse"
                },
                "example": {
                  "model_id": "alignment_01k4x9m2p7q3r8c1",
                  "message": "Undeployment started for alignment_01k4x9m2p7q3r8c1."
                }
              }
            }
          },
          "400": {
            "description": "Bad request - model already UNDEPLOYED in progress",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "model_id": "model_01kmqm4nrn9fw6r",
                    "message": "Model cannot be undeployed. Current status: UNDEPLOYED."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model or alignment project not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "model_id": "model_01kmqm4nrn9fw6r",
                    "message": "Model not found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 14
      }
    },
    "/api/v3/models/{model_id}/deployment/status": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get Deployment Status",
        "description": "Check the deployment status of an aligned model.\n\n\nThis endpoint retrieves the current deployment status of a model, including progress and completion information.\n\n\n**Path Parameters:**\n\n- `model_id`: Unique identifier of the model to check deployment status for\n\n\n**Returns:**\n\n- `model_id`: The model identifier\n- `status`: Deployment status\n  - `UNDEPLOYED`: not serving, and deployable\n  - `DEPLOYING`: a deploy is in flight\n  - `DEPLOYED`: serving inference\n  - `UNDEPLOYING`: an undeploy is in flight\n- `error`: why the last attempt failed, null when it succeeded\n- `created_at`, `completed_at`, `updated_at`: timestamps\n- `progress`, `eta_seconds`: not wired up yet, always null\n\nA failed attempt settles back to the state it came from, so read `error` alongside `status`: UNDEPLOYED with an error means the deploy failed, DEPLOYED with an error means the undeploy failed.\n\n\n**Raises:**\n\n- `404`: If model not found or doesn't belong to user\n\n\n**Example Request:**\n\n```json\nGET /api/v3/models/alignment_01k4x9m2p7q3r8c1/deployment/status\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response (deploy in flight):**\n\n```json\n{\n  \"model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"status\": \"DEPLOYING\",\n  \"error\": null,\n  \"created_at\": \"2024-02-24T10:00:00Z\",\n  \"completed_at\": null,\n  \"updated_at\": \"2024-02-24T10:00:00Z\",\n  \"progress\": null,\n  \"eta_seconds\": null\n}\n```\n\n\n**Example Response (serving):**\n\n```json\n{\n  \"model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"status\": \"DEPLOYED\",\n  \"error\": null,\n  \"created_at\": \"2024-02-24T10:00:00Z\",\n  \"completed_at\": \"2024-02-24T10:05:00Z\",\n  \"updated_at\": \"2024-02-24T10:05:00Z\",\n  \"progress\": null,\n  \"eta_seconds\": null\n}\n```\n\n\n**Example Response (deploy failed):**\n\n```json\n{\n  \"model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"status\": \"UNDEPLOYED\",\n  \"error\": \"provider rejected the adapter\",\n  \"created_at\": \"2024-02-24T10:00:00Z\",\n  \"completed_at\": \"2024-02-24T10:02:30Z\",\n  \"updated_at\": \"2024-02-24T10:02:30Z\",\n  \"progress\": null,\n  \"eta_seconds\": null\n}\n```\n\n\n**Notes:**\n\n- Poll this endpoint to track deployment progress\n- Only `DEPLOYED` serves inference; every other status returns 400 from the inference endpoints\n- A deploy that fails settles at `UNDEPLOYED` and an undeploy that fails settles at `DEPLOYED`, both with the reason in `error`",
        "operationId": "models_deployment_status",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current deployment status of an aligned model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeployStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid model ID or parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Bad request"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "model_id": "model_01kmqm4nrn9fw6r",
                    "message": "Model not found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error - invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "path",
                        "model_id"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-order": 12
      }
    },
    "/api/v3/models/{model_id}/deployment/refresh": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Refresh Deployed Model Adapter",
        "description": "Hot-swap the latest adapter checkpoint into an already-deployed model.\n\nCalls the training server to find the current adapter checkpoint step, then\nperforms an undeploy + redeploy so the inference server loads the latest weights.\nThe deployed model ID and inference URL remain unchanged.\n\n**Raises 400 if:**\n- Model is not in DEPLOYED state\n- No adapter checkpoint is available yet (`adapter_available == false`)\n- Training failed with a zeroth checkpoint (`status == \"failed\"` AND `adapter_available == true`)",
        "operationId": "models_deployment_refresh",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the adapter checkpoint step now live on the inference server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshDeployedModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model not deployed, no checkpoint available, or zeroth-checkpoint guard triggered"
          },
          "404": {
            "description": "Model not found"
          },
          "502": {
            "description": "Training server or inference server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 13
      }
    },
    "/api/v3/models/{model_id}/export-hf": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Export an aligned model to a Hugging Face repository",
        "description": "Export the aligned model's weights to the given Hugging Face repository.\n\n**Path Parameters:**\n\n- `model_id`: Unique identifier of the aligned model\n\n**Request Body:**\n\n- `hf_repo` (optional): Target repository, e.g. `org/model-name`. Defaults to the\n  token's own namespace plus the model id.\n- `visibility`: `private` or `public`\n- `token`: Hugging Face access token\n\nRuns in the background. Poll `GET /models/{model_id}/export-hf/status`\nfor progress.",
        "operationId": "export_model_to_huggingface",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportHfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledges the export request for the aligned model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportHfResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 15
      }
    },
    "/api/v3/documents/create": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload Documents",
        "description": "Upload multiple documents.\n\n**Request Body (multipart/form-data):**\n\n- `files`: List of files to upload (required)\n- `categories` (optional): List of category names to organize documents\n- `names` (optional): List of display names, matched to files by position\n\n\n**Returns:**\n\n- `documents`: One unique document id per uploaded file, for status polling and later use\n\n**Supported File Types:**\n- Text-based files only\n\n**Editions:**\n\nThe developer edition accepts plain text files only. PDF and other formats are available on the enterprise edition, which also accepts cloud storage URIs (`s3://`, `gs://`, `oci://`, `abfss://`) as the data source.\n\n**File Size Limit:**\n\nMaximum 100 MB per file\n\n\n**Example Request:**\n\n```\nPOST /api/v3/documents/create\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\nContent-Type: multipart/form-data\n\nForm Data:\n  files: [report.txt, analysis.md]\n  categories: [\"financial\", \"2024-q1\"]\n```\n\n\n**Example Response:**\n\n```json\n{\"document_ids\": [\"01KKBB7NPTMXM12\", \"01KKBB7NPTJDK43\"]}\n```\n\n\n**Processing:**\n\nUploads are processed asynchronously. Poll `GET /api/v3/documents/{id}/status` until READY before using a document id elsewhere. Requires organisation membership.",
        "operationId": "documents_create",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_documents_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a list of document IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-order": 16
      }
    },
    "/api/v3/documents/list": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List Documents",
        "description": "Retrieve all documents and categories for the authenticated user.\n\nThis endpoint returns a paginated, lean list row per document. Fetch `GET /documents/{id}` for the full record: filename, type, size, uploader, processing progress.\n\n\n**Query Parameters:**\n\n- `status` (optional): Filter by document status\n- `limit` (optional): Number of documents to return (1-100, default: 10)\n- `offset` (optional): Number of documents to skip for pagination (default: 0)\n\n\n**Returns:**\n\n- `List of document objects, each containing`:\n  - `document_id`: Unique document identifier\n  - `document_name`: Display name of the document\n  - `status`: Processing status (e.g., `READY`, `PROCESSING`, `FAILED`)\n  - `created_at`: ISO 8601 timestamp when the document was created\n  - `categories`: List of category names assigned to this document\n\n- `categories`: List of category objects, each containing:\n  - `name`: Category name\n  - `count`: Number of documents in this category\n\n\n**Example Request:**\n\n```json\nGET /api/v3/documents/list\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"documents\": [\n    {\n      \"document_id\": \"document_01k4x9m2p7q3r5s8\",\n      \"document_name\": \"Quarterly Report\",\n      \"status\": \"READY\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"categories\": [\"financial\", \"2024\"]\n    },\n    {\n      \"document_id\": \"document_01k4x9m2p7q3r5sa\",\n      \"document_name\": \"Meeting Notes\",\n      \"status\": \"PROCESSING\",\n      \"created_at\": \"2024-01-16T14:20:00Z\",\n      \"categories\": [\"meetings\"]\n    }\n  ],\n  \"categories\": [\n    {\n      \"name\": \"financial\",\n      \"count\": 5\n    },\n    {\n      \"name\": \"2024\",\n      \"count\": 12\n    },\n    {\n      \"name\": \"meetings\",\n      \"count\": 8\n    }\n  ]\n}\n```\n\n\n**Notes:**\n\n- Categories are automatically extracted and organized for easy filtering\n- Each category shows the total count of documents tagged with that category",
        "operationId": "documents_list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by document status",
              "title": "Status"
            },
            "description": "Filter by document status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of documents to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of documents to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of documents to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of documents to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a lean list of all documents uploaded by the authenticated user, and available document categories with counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 17
      }
    },
    "/api/v3/documents/{document_id}/status": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document Status",
        "description": "Check the upload status of a document.\n\nUse this endpoint to monitor the progress of a document upload after receiving\nits document_id from the upload endpoint. The status indicates whether the document\nis still being uploaded, has completed successfully, or has failed.\n\n**Args**:\n    `document_id`: Document ID returned from the upload endpoint (path parameter)\n\n**Returns**:\n    `dict`: Upload status information containing:\n        - status: Current upload status (\"PROCESSING\", \"READY\", \"FAILED\")\n        - document_id: Document ID once upload is COMPLETED (null if still uploading)\n        - created_at, completed_at, updated_at: timestamps\n        - progress, eta_seconds: not wired up yet, always null\n\n**Raises**:\n    - `404`: If the document is not found or doesn't belong to the user\n\n**Example**:\n    **Request**:\n        ```GET /api/v3/documents/{document_id}/status\n            Headers: {\"Authorization\": \"Bearer <api_key>\"}\n        ```\n    **Response**:\n    ```\n        {\n            \"status\": \"READY\",\n            \"document_id\": \"document_01k4x9m2p7q3r5sa\",\n            \"created_at\": \"2024-01-15T10:30:00Z\",\n            \"completed_at\": \"2024-01-15T10:31:00Z\",\n            \"updated_at\": \"2024-01-15T10:31:00Z\",\n            \"progress\": null,\n            \"eta_seconds\": null\n        }\n    ```",
        "operationId": "get_document_status",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the processing status for a document upload: PROCESSING, READY or FAILED, with the document_id once READY, and timestamps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 18
      }
    },
    "/api/v3/documents/{document_id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document",
        "description": "Fetch a document's details.\n\n**Args**:\n    `document_id`: Document ID (path parameter)\n\n**Raises**:\n    - `404`: If the document is not found or doesn't belong to the user",
        "operationId": "get_document",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the document's full record: document_id, name, filename, type, size, status, categories, uploader, and timestamps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Delete Document",
        "description": "Permanently delete a document.\n\nThis endpoint removes a document from the system. Note that this only deletes\nthe document record and metadata.\n\n**Args**:\n    `document_id`: Document ID to delete (path parameter)\n\n**Returns**:\n    `DeleteDocumentResponse`: Deletion confirmation containing:\n        - `document_id`: ID of the deleted document\n        - `message`: Success confirmation message\n\n**Raises**:\n    - `404`: If the document is not found or doesn't belong to the user\n\n**Example**:\n    **Request**:\n    ```\n        DELETE /api/v3/documents/document_01k4x9m2p7q3r5sa\n        Headers: {\"Authorization\": \"Bearer <api_key>\"}\n    ```\n    **Response**:\n    ```\n        {\n            \"document_id\": \"document_01k4x9m2p7q3r5sa\",\n            \"message\": \"Document Deleted Successfully\"\n        }\n    ```",
        "operationId": "delete_document",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a confirmation message with the ID of the deleted document. This endpoint permanently deletes the specified document from the system, including its metadata and any associated records. The response confirms the successful deletion by returning the document ID and a success message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDocumentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 19
      }
    },
    "/api/v3/benchmarks/create": {
      "post": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Create Benchmark",
        "description": "Create a new benchmark generation run from documents.\n\n\nThis endpoint starts a benchmark generation run over the documents you name. The generated samplions can be used for model evaluation and testing.\n\n\n**Request Body:**\n\n- `document_ids`: List of document IDs to generate benchmarks from (required)\n- `n_samples`: Number of benchmark samples to generate (required)\n- `benchmark_name` (optional): Display name. Defaults to the benchmark id if omitted\n\n\n**Returns:**\n\n- `benchmark_id`: Unique identifier for tracking generation progress\n- `status`: Initial status (always `PROCESSING`)\n\n\n**Raises:**\n\n- `400`: If no documents provided\n- `400`: If document validation fails (missing documents or unauthorized access)\n\n\n**Example Request:**\n\n```json\nPOST /api/v3/benchmarks/create\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n\n{\n  \"document_ids\": [\"document_01k4x9m2p7q3r5s8\", \"document_01k4x9m2p7q3r5sc\", \"document_01k4x9m2p7q3r5sd\"],\n  \"n_samples\": 10\n}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"status\": \"PROCESSING\"\n}\n```\n\n\n**Notes:**\n\n- All document IDs are validated before creation to ensure they exist and belong to the user\n- Use the returned benchmark_id with `/benchmarks/{id}/status` endpoint to track generation progress\n- Once completed, the benchmark will be available for use in model evaluations",
        "operationId": "benchmarks_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateBenchmarkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a unique identifier and initial status for the benchmark generation initiated from specified documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-order": 23
      }
    },
    "/api/v3/benchmarks/upload": {
      "post": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Upload Benchmark",
        "description": "Upload a pre-prepared benchmark file of instruction and response samples.\n\n\nThis endpoint allows you to upload a JSON file containing benchmark samples, associating it with a specific document for evaluation purposes.\n\n\n**Request Body (multipart/form-data):**\n\n- `file`: JSON file containing benchmark samples (required)\n- `benchmark_name`: Display name for the benchmark (required)\n- `document_id`: Document ID that this benchmark is based on (required)\n- `description` (optional): Description of the benchmark\n\n\n**File Format:**\n\nThe uploaded JSON file should contain an array of sample objects. Each sample should have:\n\n```json\n[\n  {\n    \"sample_num\": 1,\n    \"instruction\": \"What is...\",\n    \"response\": \"The response is...\"\n  }\n]\n```\n\n\n**Returns:**\n\n- `benchmark_id`: Unique identifier for the uploaded benchmark\n- `benchmark_name`: Name of the benchmark\n- `status`: Upload status (`PROCESSING`, `READY`, `FAILED`)\n- `samples`: List of benchmark sample objects, each containing:\n  - `sample_num`: Sample number\n  - `instruction`: Instruction text\n  - `response`: Expected response text\n- `n_samples`: Total number of samples in the benchmark\n\n\n**Raises:**\n\n- `400`: If file format is invalid, JSON structure is incorrect, or document_id is not found\n- `413`: If file size exceeds limit\n\n\n**Example Request:**\n\n```\nPOST /api/v3/benchmarks/upload\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\nContent-Type: multipart/form-data\n\nForm Data:\n  file: benchmark_questions.json\n  name: \"Contract Clause Review\"\n  document_id: \"document_01k4x9m2p7q3r5s8\"\n  description: \"Benchmark for contract clause extraction\"\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"benchmark_name\": \"My Benchmark\",\n  \"status\": \"READY\",\n  \"samples\": [\n    {\n      \"sample_num\": 1,\n      \"instruction\": \"How do I reset my password?\",\n      \"response\": \"You can reset your password by clicking the 'Forgot Password' link on the login page.\"\n    },\n    {\n      \"sample_num\": 2,\n      \"instruction\": \"What are the system requirements?\",\n      \"response\": \"The system requires a modern web browser with JavaScript enabled.\"\n    }\n  ],\n  \"n_samples\": 2\n}\n```\n\n\n**Notes:**\n\n- File must be in valid JSON format with proper sample structure\n- Each sample must include `sample_num`, `instruction`, and `response` fields\n- The benchmark is immediately available for use in evaluations after upload\n- The `document_id` provided in the request is stored internally and will appear as a single-element `documents` array (e.g., `[\"document_01k4x9m2p7q3r5s8\"]`) when retrieving the benchmark via `/benchmarks/list` or `/benchmarks/{id}/data` endpoints",
        "operationId": "benchmarks_upload",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_benchmarks_upload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the details of the uploaded benchmark including its unique identifier, name, status, and the list of samples with expected responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBenchmarkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-order": 24
      }
    },
    "/api/v3/benchmarks/list": {
      "get": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "List Benchmarks",
        "description": "Retrieve all benchmarks for the user.\n\n\nThis endpoint returns a paginated list of all benchmarks created or uploaded by the user, including both generated and manually uploaded benchmarks.\n\n\n**Query Parameters:**\n\n- `status` (optional): Filter by benchmark status\n- `limit` (optional): Number of benchmarks to return (1-100, default: 10)\n- `offset` (optional): Number of benchmarks to skip for pagination (default: 0)\n\n\n**Returns:**\n\n- `benchmarks`: List of benchmark objects, each containing:\n  - `benchmark_id`: Unique benchmark identifier\n  - `benchmark_name`: Display name of the benchmark\n  - `status`: Benchmark status (`PROCESSING`, `READY`, `UPLOADED`)\n  - `created_at`: Timestamp when benchmark was created\n\n\n**Example Request:**\n\n```json\nGET /api/v3/benchmarks/list\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmarks\": [\n    {\n      \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n      \"benchmark_name\": \"Benchmark_document_01k4x9m2p7q3r5se\",\n      \"status\": \"READY\",\n      \"created_at\": \"2024-01-15T10:30:00Z\"\n    },\n    {\n      \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a2\",\n      \"benchmark_name\": \"Benchmark_document_01k4x9m2p7q3r5sg\",\n      \"status\": \"uploaded\",\n      \"created_at\": \"2024-01-16T14:20:00Z\"\n    }\n  ]\n}\n```",
        "operationId": "benchmarks_list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by benchmark status",
              "title": "Status"
            },
            "description": "Filter by benchmark status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of benchmarks to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of benchmarks to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of benchmarks to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of benchmarks to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all benchmarks created or uploaded by the user, including both generated and manually uploaded benchmarks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 25
      }
    },
    "/api/v3/benchmarks/{benchmark_id}": {
      "get": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Get Benchmark",
        "description": "Get one benchmark by ID.\n\n**Returns:**\n\n- `benchmark_id`, `benchmark_name`, `status` (`PROCESSING`, `READY`, `FAILED`)\n- `n_samples`, `source` (`generated` or `uploaded`)\n- `created_at`, `completed_at`, `updated_at`\n- `progress`, `eta_seconds`: not wired up yet, always null",
        "operationId": "benchmarks_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the benchmark's own record: status, sample count, source and timestamps. Samples themselves are served by the data endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarksDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 26
      },
      "delete": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Delete Benchmark",
        "description": "Delete a benchmark permanently.\n\n\nThis endpoint permanently removes a benchmark and all its associated data. Only the owner of the benchmark can delete it.\n\n\n**Path Parameters:**\n\n- `benchmark_id`: Unique identifier of the benchmark to delete\n\n\n**Returns:**\n\nSuccess response containing:\n\n- `benchmark_id`: The deleted benchmark identifier\n- `message`: Confirmation message\n\n\n**Raises:**\n\n- `404`: If benchmark not found or doesn't belong to the user\n\n\n**Example Request:**\n\n```json\nDELETE /api/v3/benchmarks/benchmark_01k4x9m2p7q3r6a1\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"message\": \"Benchmark successfully deleted\"\n}\n```\n\n\n**Warning:**\n\nThis action is permanent and cannot be undone. All benchmark samples will be permanently deleted.",
        "operationId": "benchmarks_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Benchmark successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBenchmarkResponse"
                },
                "example": {
                  "benchmark_id": "benchmark_01k4x9m2p7q3r6a1",
                  "message": "Benchmark successfully deleted"
                }
              }
            }
          },
          "404": {
            "description": "Benchmark not found or doesn't belong to user",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "benchmark_id": "benchmark_01k4x9m2p7q3r6a1",
                    "message": "Benchmark not found or does not belong to you"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 29
      }
    },
    "/api/v3/benchmarks/{benchmark_id}/status": {
      "get": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Get Benchmark Status",
        "description": "Get the status of a benchmark generation run.\n\n\nThis endpoint retrieves the current status of a benchmark generation run. Use this to track the progress of benchmark generation initiated by the create endpoint.\n\n\n**Path Parameters:**\n\n- `benchmark_id`: Unique identifier returned from the create endpoint\n\n\n**Returns:**\n\n- `benchmark_id`: unique identifier\n- `status`: status (`PROCESSING` while running, `READY` when finished)\n- `created_at`, `completed_at`, `updated_at`: timestamps\n- `progress`, `eta_seconds`: not wired up yet, always null\n\n\n**Raises:**\n\n- `404`: If the benchmark or its documents are not found\n\n\n**Example Request:**\n\n```json\nGET /api/v3/benchmarks/benchmark_01k4x9m2p7q3r6a1/status\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"status\": \"READY\",\n  \"created_at\": \"2024-01-15T10:30:00Z\",\n  \"completed_at\": \"2024-01-15T10:32:45Z\",\n  \"updated_at\": \"2024-01-15T10:32:45Z\",\n  \"progress\": null,\n  \"eta_seconds\": null\n}\n```\n\n\n**Notes:**\n\n- Status remains `PROCESSING` while the generation process is running\n- Status changes to `READY` once all samples are generated",
        "operationId": "benchmarks_status",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get the status of a benchmark generation run, including current progress and timestamps for creation and completion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 27
      }
    },
    "/api/v3/benchmarks/{benchmark_id}/data": {
      "get": {
        "tags": [
          "Benchmarks"
        ],
        "summary": "Get Generated Benchmark Data",
        "description": "Retrieve complete benchmark data with all samples.\n\n\nThis endpoint returns the full benchmark dataset including all samples, their expected responses, and metadata. Use this to access the complete benchmark content for evaluation or review.\n\n\n**Path Parameters:**\n\n- `benchmark_id`: Unique benchmark identifier\n\n\n**Returns:**\n\n- `benchmark_id`: Benchmark identifier\n- `document_ids`: List of document IDs (single-element array for uploaded benchmarks, multiple elements for generated benchmarks)\n- `samples`: Full list of benchmark samples with their responses\n\nIdentity, status, and timestamps are served by `GET /{benchmark_id}`.\n\n\n**Raises:**\n\n- `404`: If benchmark not found or user doesn't have access\n\n\n**Example Request:**\n\n```json\nGET /api/v3/benchmarks/benchmark_01k4x9m2p7q3r6a1/data\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"document_ids\": [\"document_01k4x9m2p7q3r5se\", \"document_01k4x9m2p7q3r5sf\"],\n  \"samples\": [\n    {\n      \"sample_num\": 1,\n      \"instruction\": \"What is the main purpose of the product?\",\n      \"response\": \"To provide real-time collaboration tools for distributed teams.\"\n    },\n    {\n      \"sample_num\": 2,\n      \"instruction\": \"How does the authentication system work?\",\n      \"response\": \"Uses OAuth 2.0 with JWT tokens for secure authentication.\"\n    }\n  ]\n}\n```\n\n\n**Notes:**\n\n- Only returns benchmarks owned by the user\n- Contains complete sample data for evaluation\n- Use this endpoint when you need the full benchmark content (not just metadata)",
        "operationId": "benchmarks_data",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the benchmark's samples. Identity, status, and timestamps are served by GET /{benchmark_id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkFullResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 28
      }
    },
    "/api/v3/evaluations/create": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Create Evaluation",
        "description": "Create a new model evaluation using an existing benchmark.\n\n\nThis endpoint initiates a model evaluation using a benchmark from your library. Supports both single model evaluation and comparison mode where two models are evaluated side-by-side.\n\n\n**Request Body:**\n\n- `model_id`: Primary model to evaluate (required)\n- `benchmark_id`: ID of the benchmark to use for evaluation (required)\n- `baseline_model_id` (optional): Baseline model ID for comparison mode\n- `custom_metrics` (optional): Custom evaluation metrics configuration\n- `evaluation_name` (optional): Display name. Defaults to the evaluation id if omitted\n\n\n**Returns:**\n\n- `evaluation_id`: Unique identifier for tracking the evaluation\n- `model_id`: The primary model being evaluated\n- `status`: Initial status (always `PROCESSING`)\n- `benchmark_id`: The benchmark being used\n- `created_at`: Timestamp when evaluation was created\n- `message`: Confirmation message\n\n\n**Example Request (Single Model):**\n\n```json\nPOST /api/v3/evaluations/create\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n\n{\n  \"model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"custom_metrics\": [\"accuracy\", \"relevance\"]\n}\n```\n\n\n**Example Request (Comparison Mode):**\n\n```json\nPOST /api/v3/evaluations/create\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n\n{\n  \"model_id\": \"qwen-v2p5-0p5b-instruct\",\n  \"baseline_model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\"\n}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"status\": \"PROCESSING\",\n  \"benchmark_id\": \"benchmark_01k4x9m2p7q3r6a1\",\n  \"created_at\": \"2024-01-15T10:30:00Z\",\n  \"message\": \"Evaluation created successfully and queued for execution\"\n}\n```\n**Notes:**\n\n- Single model mode: Evaluates one model against the benchmark\n- Comparison mode: Provide `baseline_model_id` to compare two models side-by-side\n- Evaluation runs asynchronously - use the returned `evaluation_id` to check status\n- Use `/evaluations/{evaluation_id}/status` to track progress",
        "operationId": "evaluations_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a unique identifier for the initiated evaluation along with the initial evaluation status. This endpoint starts an asynchronous evaluation using a specified benchmark and model(s), allowing users to track progress and retrieve results once completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-order": 31
      }
    },
    "/api/v3/evaluations/list": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List User Evaluations",
        "description": "Retrieve all evaluations for the authenticated user.\n\n\nThis endpoint returns a paginated list of lean evaluation rows. Fetch `GET /evaluations/{evaluation_id}` for the full record and `/results` for scores.\n\n\n**Query Parameters:**\n\n- `status` (optional): Filter by evaluation status (`QUEUED`, `PROCESSING`, `READY`, `FAILED`)\n- `model_id` (optional): Filter by specific model ID\n- `limit` (optional): Number of evaluations to return (1-100, default: 10)\n- `offset` (optional): Number of evaluations to skip for pagination (default: 0)\n\n\n**Returns:**\n\n- `user_id`: The authenticated user's ID\n- `evaluations`: List of `evaluation_id`, `evaluation_name`, `status`, `created_at`\n- `total`: Total number of evaluations matching the filters\n- `limit`: Requested page size\n- `offset`: Current pagination offset\n\n\n**Example Request:**\n\n```json\nGET /api/v3/evaluations/list?status=READY&limit=5&offset=0\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"user_id\": \"01KKBERWEEM634BQW9BK6Y0Y\",\n  \"evaluations\": [\n    {\n      \"evaluation_id\": \"eval_01KKJHBNFY9STH1C9\",\n      \"evaluation_name\": \"Clause Review v2 Eval\",\n      \"status\": \"READY\",\n      \"created_at\": \"2026-03-10T10:43:12.826791\",\n      \"alignment_id\": \"alignment_01k4x9m2p7q3r8c1\"\n    }\n  ],\n  \"total\": 1,\n  \"limit\": 10,\n  \"offset\": 0\n}\n```",
        "operationId": "evaluations_list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by evaluation status",
              "title": "Status"
            },
            "description": "Filter by evaluation status"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by model ID",
              "title": "Model Id"
            },
            "description": "Filter by model ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of evaluations to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of evaluations to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of evaluations to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of evaluations to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all evaluations created by the user, with optional filtering by status or model ID. This endpoint allows users to retrieve their evaluation history, filter evaluations by status (e.g., PROCESSING, READY) or specific model, and supports pagination for easy navigation through large numbers of evaluations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEvaluationsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 32
      }
    },
    "/api/v3/evaluations/{evaluation_id}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get Evaluation",
        "description": "Get one evaluation by ID.\n\n**Returns:**\n\n- `evaluation_id`, `status` (`QUEUED`, `PROCESSING`, `READY`, `FAILED`)\n- `model_id`, `benchmark_id`, `progress`\n- `n_samples_completed`, `n_samples`, `avg_time_per_sample`, `eta_seconds`\n- `created_at`, `completed_at`, `updated_at`",
        "operationId": "get_evaluation",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "evaluation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the evaluation's own record: status, progress, models under test and timestamps. Scores are served by the results endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationsDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 33
      },
      "delete": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Delete Evaluation",
        "description": "Delete an evaluation permanently.\nThis endpoint permanently removes an evaluation and all its associated data. \n\n**Path Parameters:**\n\n- `evaluation_id`: Unique identifier of the evaluation to delete\n\n\n**Returns:**\n\nSuccess response containing:\n\n- `id`: The deleted evaluation identifier\n- `message`: Confirmation message\n\n\n**Raises:**\n\n- `404`: If evaluation not found or doesn't belong to the authenticated user\n\n\n**Example Request:**\n\n```json\nDELETE /api/v3/evaluations/evaluation_01k4x9m2p7q3r7b1\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"message\": \"Successfully deleted evaluation\"\n}\n```\n**Warning:**\n\nThis action is permanent and cannot be undone. All evaluation results, metrics, and associated data will be permanently deleted.",
        "operationId": "delete_evaluation",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "evaluation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEvaluationResponse"
                },
                "example": {
                  "evaluation_id": "evaluation_01k4x9m2p7q3r7b1",
                  "message": "Successfully deleted evaluation"
                }
              }
            }
          },
          "404": {
            "description": "Evaluation not found or doesn't belong to user",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "evaluation_id": "evaluation_01k4x9m2p7q3r7b1",
                    "message": "Evaluation not found or does not belong to you"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 36
      }
    },
    "/api/v3/evaluations/{evaluation_id}/status": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get Evaluation Status",
        "description": "Get the current status of an evaluation.\n\n\nThis endpoint retrieves the status of a running or completed evaluation. Use this to determine when results are ready; fetch the full record once from `GET /evaluations/{evaluation_id}`.\n\n\n**Path Parameters:**\n\n- `evaluation_id`: Unique evaluation identifier\n\n\n**Returns:**\n\n- `evaluation_id`: The evaluation identifier\n- `status`: Current status (`QUEUED`, `PROCESSING`, `READY`, `FAILED`)\n- `created_at`, `completed_at`, `updated_at`: timestamps\n- `progress`, `eta_seconds`: not wired up yet, always null\n\n\n**Raises:**\n\n- `404`: If evaluation not found or doesn't belong to the authenticated user\n\n\n**Example Request:**\n\n```json\nGET /api/v3/evaluations/evaluation_01k4x9m2p7q3r7b1/status\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response:**\n\n```json\n{\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"status\": \"READY\",\n  \"created_at\": \"2024-02-24T10:00:00Z\",\n  \"completed_at\": \"2024-02-24T10:05:00Z\",\n  \"updated_at\": \"2024-02-24T10:05:00Z\",\n  \"progress\": null,\n  \"eta_seconds\": null\n}\n```\n\n\n**Notes:**\n\n- Once status is `READY`, use `/evaluations/{evaluation_id}/results` to get full results\n- Status `FAILED` indicates an error occurred during evaluation",
        "operationId": "get_evaluation_status",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "evaluation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current status and progress of an evaluation. This endpoint retrieves the status of a running or completed evaluation with detailed progress metrics, allowing users to track the evaluation process and determine when results are ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 34
      }
    },
    "/api/v3/evaluations/{evaluation_id}/results": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get Evaluation Results",
        "description": "Retrieve the complete results of a finished evaluation.\n\n\nThis endpoint returns detailed evaluation metrics and scores for a completed evaluation. Works for both single model evaluations and comparison mode evaluations.\n\n\n**Path Parameters:**\n\n- `evaluation_id`: Unique evaluation identifier\n\n\n**Returns:**\n\n- `evaluation_id`: The evaluation identifier\n- `raw_responses_count`: Number of raw responses generated during evaluation\n- `method` (optional): Evaluation method (`eval` for single model, `eval-compare` for comparison)\n- `metrics` (optional): Evaluation metrics and scores (single model only)\n- `baseline_model_id` (optional): Baseline model ID (comparison mode only)\n- `model` (optional): Aligned model results (comparison mode only)\n- `baseline` (optional): Baseline model results (comparison mode only)\n- `comparison` (optional): Comparison results between models (comparison mode only)\n\nIdentity, status, and timestamps are served by `GET /{evaluation_id}`.\n\n\n**Raises:**\n\n- `404`: If evaluation not found or doesn't belong to the authenticated user\n- `400`: If evaluation is not yet completed, or FAILED with no results\n\n\n**Example Request:**\n\n```json\nGET /api/v3/evaluations/evaluation_01k4x9m2p7q3r7b1/results\nHeaders: {\"Authorization\": \"Bearer <api_key>\"}\n```\n\n\n**Example Response (Single Model):**\n\n```json\n{\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"method\": \"eval\",\n  \"raw_responses_count\": 10,\n  \"metrics\": {\n    \"accuracy\": 0.92,\n    \"relevance\": 0.88,\n    \"average_score\": 0.90,\n    \"n_samples\": 10,\n    \"correct_answers\": 9\n  }\n}\n```\n\n\n**Example Response (Comparison Mode):**\n\n```json\n{\n  \"evaluation_id\": \"evaluation_01k4x9m2p7q3r7b1\",\n  \"baseline_model_id\": \"model_01kmqm4nrn9fw6r\",\n  \"method\": \"eval-compare\",\n  \"raw_responses_count\": 20,\n  \"model\": {\n    \"model_id\": \"model_01kmqm4nrn9fw6r\",\n    \"average_score\": 0.92,\n    \"n_samples\": 10\n  },\n  \"baseline\": {\n    \"model_id\": \"qwen-v2p5-0p5b-instruct\",\n    \"average_score\": 0.85,\n    \"n_samples\": 10\n  },\n  \"comparison\": {\n    \"winner\": \"qwen-v2p5-0p5b-instruct\",\n    \"score_difference\": 0.07,\n    \"statistical_significance\": true\n  }\n}\n```",
        "operationId": "get_evaluation_results",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "evaluation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns detailed evaluation metrics and scores for a completed evaluation. Identity, status, and timestamps are served by GET /{evaluation_id}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResultsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-order": 35
      }
    },
    "/api/v3/inference/embeddings": {
      "post": {
        "tags": [
          "Inference"
        ],
[...]
